APP_NAME="AI Spam Detector"
HUGGINGFACE_MODEL_NAME=mrm8488/bert-tiny-finetuned-sms-spam-detection

# Настройки базы данных
POSTGRES_USER=spam_user
POSTGRES_PASSWORD=spam_password
POSTGRES_DB=spam_db
POSTGRES_HOST=postgres # Имя сервиса в docker-compose
POSTGRES_PORT=5432
