# Настройки БД
POSTGRES_USER=spamuser
POSTGRES_PASSWORD=spampass
POSTGRES_DB=spamdb
POSTGRES_HOST=postgres
POSTGRES_PORT=5432

# Настройки модели
HF_MODEL_NAME=mrm8488/bert-tiny-finetuned-sms-spam-detection
# Альтернатива: distilbert-base-uncased-finetuned-sms-spam

# Логирование
LOG_LEVEL=INFO
